/.quarto/


/core/slides/*_cache/
/core/slides/*_files/
/_site/
/core/notebooks/.jupyter_cache/
/core/labs/*_cache/
/core/labs/*_files/
/core/labs/*thm
/core/projects/*_cache/
/core/projects/*_files/
/core/labs-solutions/*_cache/
/core/labs-solutions/*_files/
/core/labs-solutions/*thm

/_*.local
.Rproj.user
