*.png filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
images/hexlogo_ma7BY020.png filter=lfs diff=lfs merge=lfs -text
images/Karte_Bezirke_der_Schweiz_farbig_2018.png filter=lfs diff=lfs merge=lfs -text
images/nycflights_layout_crop.png filter=lfs diff=lfs merge=lfs -text
images/pull.png filter=lfs diff=lfs merge=lfs -text
images/render-commit-push.png filter=lfs diff=lfs merge=lfs -text
images/summary-tree-atomic-hadley.png filter=lfs diff=lfs merge=lfs -text
images/summary-tree-vectors-R-hadley.png filter=lfs diff=lfs merge=lfs -text
images/UniversiteParis_monogramme_couleur_RVB.png filter=lfs diff=lfs merge=lfs -text
images/*.jpg filter=lfs diff=lfs merge=lfs -text
images/iris-fleur-histoire.jpeg filter=lfs diff=lfs merge=lfs -text
